<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5"  style="background-color: #dcdcdc; margin-top: 50px;">

  <div style="background-color: #f6e5fd;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Mantente conectado con nosotros a traves de nuestras redes sociales.</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">AGROSEC</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Pie powder croissant tootsie roll oat cake ice cream lemon drops croissant topping. Apple pie ice cream icing topping tart oat cake. Toffee oat cake fruitcake pudding tootsie roll tiramisu topping cheesecake.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Productos</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="/">Ciruelos</a>
        </p>
        <p>
          <a class="dark-grey-text" href="/">Frutos Secos</a>
        </p>
        <p>
          <a class="dark-grey-text" href="/">Ciruelas</a>
        </p>


      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Links útiles</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text"  href="/users/login">Ingreso al sistema</a>
        </p>
        <p>
          <a class="dark-grey-text" href="/">Inicio</a>
        </p>
        <p>
          <a class="dark-grey-text" href="/quienessomos">Quienes Sómos</a>
        </p>
        <p>
          <a class="dark-grey-text" href="/contacto">Contacto</a>
        </p>
        <p>
          <a class="dark-grey-text" href="/contacto">Noticias</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contacto</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> Calle sin nombre, San Martín, Mendoza</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> info@agrosec.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> 2634558745</p>
        <p>
          <i class="fab fa-whatsapp mr-3"></i> 2634557896</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3">© 2020 Copyright: AgroSec </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->