<div class="row">


		<img src="img/img4.jpg" alt="" class="banner__img" style="width:100%; height: 50vh;"">
</div>

<div class="container">
	<div class="container barraTitulo">
		<h1>{{title}}</h1>
	</div>

	<div class="container">	
	</br>	
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
</div>


<div class="videos">
<div class="container">
<div class="clearfix">
<div class="video-container">
<img src="https://www.agrofy.com.ar/common-landings/images/video-01.jpg" alt="Hombre Campo" class="img-responsive">
<span class="arrow-left"></span>
</div>
<div class="video-info">
<p class="titulo">Creamos</p>
<p>Nos apasiona ser protagonistas de nuestra propia historia y creadores de nuestra propia realidad. Somos constructores de oportunidades que definen nuestro futuro. Somos precisos en nuestros objetivos, metódicos en la planificación e implacables en la implementación.</p>
</div>
</div>
<div class="clearfix">
<div class="video-container pull-right">
<img src="https://www.agrofy.com.ar/common-landings/images/video-02.jpg" alt="Campo" class="img-responsive">
<span class="arrow-right"></span>
</div>
<div class="video-info text-right">
<p class="titulo">Trascendemos</p>
<p>Nos motiva pensar en grande, construir una gran empresa. Innovar en todos los campos. Somos optimistas, confiamos en nosotros mismos y nuestras posibilidades de ir más alla. Apuntamos a ser líderes y referentes. Inspiradores de una realidad mejor.</p>
</div>
</div>
<div class="clearfix">
<div class="video-container">
<img src="https://www.agrofy.com.ar/common-landings/images/video-03.jpg" alt="Campo Silos" class="img-responsive">
<span class="arrow-left"></span>
</div>
<div class="video-info">
<p class="titulo">Integramos</p>
<p>Disfrutamos el trabajo en conjunto, entre nosotros y con nuestros clientes. Hacemos de la confianza la base de nuestro equipo. Valoramos la experiencia y conocimientos de los demás, vemos en esa diversidad la fuerza para conseguir resultados extraordinarios.</p>
</div>
</div>
</div>
</div>